<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dice2win.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>49730D83D8C78B7A8759F87F8E9563ACFB661DA4</string>
				<key>dateExpires</key>
				<string>2019/9/10</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WN7443DB3U.com.bykernel</string>
				<key>com.apple.developer.team-identifier</key>
				<string>WN7443DB3U</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>WN7443DB3U.com.bykernel</string>
				</array>
			</dict>
			<key>name</key>
			<string>dice2win.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d0c2af30-ed76-40af-bb88-ec38e85b85e4</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WN7443DB3U</string>
				<key>name</key>
				<string>Huanqing Lou</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
